.welcome{
    height: 70vh;
    width: auto;
    background-image: url(../images/car-img3.png);
    background-repeat: no-repeat;
    background-size:cover;
}
h2{
    color: white;
    padding: 15% 40px 0px;
    text-align: center;
}


@media (max-width: 520px){
   h2{
    padding: 30px;
    font: 24px;
   }
}